.contact.content-form p.content-text{
    text-align: center;
}


.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.contact-form input {
  font-size: 20px;
  line-height: 32px;
  border: none;
  border-bottom: 3px solid #8c8c8c;
  margin-bottom: 64px;
}

.contact-form input:focus {
  border-bottom: 3px solid var(--primary-color);
  outline: none;
}

.contact-form textarea {
  margin-top: 8px;
  margin-bottom: 32px;
  border-radius: 8px;
  height: 90px;
}

.contact-form textarea:focus {
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}

.contact button {
  border: none;
  border-radius: 8px;
  width: 312px;
}

@media screen and (min-width: 768px) {
  .contact button {
    width: 280px;
    align-self: center;
  }
}
