.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* Pacotes de viagem */
.travel-packges.hero {
  margin-bottom: 88px;
}

.travel-packges.hero .hero-img {
  background: url(../img/travel-packages/hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 460px;
}

.travel-packges .hero-content {
  padding: 65px 24px;
}

.travel-packges .hero-content h1 {
  font-size: 48px;
  color: var(--background-primary-color);
  font-weight: var(--title-weight);
}

.travel-packges .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packges .hero-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

.travel-packges.bottom-hero .hero-img {
  background: url(../img/travel-packages/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

/* Blog */
.blog.hero {
  margin-bottom: 88px;
}
.blog.hero .hero-img {
  background: url(../img/blog/hero-blog-mobile.jpg) no-repeat;
  background-size: cover;
  height: 460px;
}

.blog .hero-content {
  padding: 65px 24px;
}

.blog .hero-content h1 {
  font-size: 48px;
  color: var(--background-primary-color);
  font-weight: var(--title-weight);
}

.blog .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  margin: 16px 0 32px;
}

.blog .hero-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

/* Contato */
.contact.hero {
  margin-bottom: 88px;
}
.contact.hero .hero-img {
  background: url(../img/contact/hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 460px;
}

.contact .hero-content {
  padding: 65px 24px;
}

.contact .hero-content h1 {
  font-size: 48px;
  color: var(--background-primary-color);
  font-weight: var(--title-weight);
}

.contact .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  margin: 16px 0 32px;
}

.contact .hero-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

.contact.bottom-hero .hero-img {
  background: url(../img/contact/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* Pacotes de viagem */
  .travel-packges.hero .hero-img {
    background: url(../img/travel-packages/hero-tablet.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }
  .travel-packges.bottom-hero .hero-img {
    background: url(../img/travel-packages/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .travel-packges .hero-content {
    padding: 210px 70px 107px;
  }
  .travel-packges .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  /* Blog */
  .blog.hero .hero-img {
    background: url(../img/blog/hero-blog-tablet.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }
  .blog .hero-content {
    padding: 158px 94px;
  }
  .blog .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }
  /* Contato */
  .contact.hero .hero-img {
    background: url(../img/contact/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .contact .hero-content {
    padding: 82px 94px;
  }
  .contact .hero-content p {
    font-size: 32px;
    line-height: 150%;
  }
  .contact.bottom-hero .hero-img {
    background: url(../img/contact/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }

  /* Pacotes de viagem */
  .travel-packges.hero .hero-img {
    background: url(../img/travel-packages/hero-desktop.jpg);
    background-size: cover;
  }
  .travel-packges.bottom-hero .hero-img {
    background: url(../img/travel-packages/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .travel-packges .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }
  .travel-packges .hero-content p {
    width: 570px;
  }

  /* Blog */
  .blog .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }
  .blog .hero-content p {
    width: 570px;
  }
  /* Contato */
  .contact.hero .hero-img {
    background: url(../img/contact/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .contact .hero-content {
    padding: 150px 670px 155px 120px;
    margin: 0 auto;
  }
  .contact .hero-content p {
    font-size: 32px;
    line-height: 150%;
  }
  .contact.bottom-hero .hero-img {
    background: url(../img/contact/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .travel-packges .hero-content {
    width: 1200px;
  }
  .blog .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
